$fontColor: #404040;
$borderColor: #D9D9D9;
$borderTopColor: #B2B2B2;
$borderTopColorHover: #909090;
$placeholderFontColor: #E4E4E4;
$dropdownMessageFontColor: #E4E4E4;
$placeholderFontColorFocus: #F0F0F0;
$selectedOptionBackgroundColor: #5199DB;
$selectedOptionFontColor: #FFFFFF;
$outlineColorFocus: #5199DB;
$loaderColor: #E4E4E4;
$errorColor: #E80015;
$selectionColor: #CAE0F4;
$totalLabelFontColor: #E0E0E0;